body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  color: #272727;
}

code, .monospace {
  font-family: 'Roboto Mono', monospace;
  font-size: .95em;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 .6em;
}